.productContainer {
    width: 90%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr 70px;
    grid-template-rows: 40px 100px auto auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 15px;
    margin: 10px;
    align-self: center;
}

.productName {
    font-size: 26px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self: center;
    cursor: pointer;
}

.productDescription {
    font-size: 16px;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
}

.productFavourite {
    width: 40px;
    height: 40px;
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    justify-self: end;
    background-image: url("../icons/Favourite.png");
    background-size: contain;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    cursor: pointer;
}

.productPreview {
    width: 180px;
    height: fit-content;
    max-height: 130px;
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
    border-radius: 5px;
    border: 2px solid rgb(212, 209, 209);
    margin-right: 10px;
}

.divProductCost {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 4 / 4;
}

.productCost {
    font-size: 22px;
    width: fit-content;
    padding: 5px;
    padding-right: 10px;
}

.productDiscount {
    font-size: 22px;
    width: fit-content;
    padding: 5px;
    padding-left: 10px;
    color: rgb(15, 173, 10);
}

.productToBasket {
    grid-row: 4 / 4;
    grid-column: 2 / span 2;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    justify-self: end;
    align-self: center;
    font-size: 22px;
    background-color: yellow;
    border-radius: 5px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.results {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
    background-color: #e6e6e6;
}

body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.productFavourite:hover {
    color: transparent;
}