::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.content {
    background-color: #e6e6e6;
    margin: auto;
    width: 60%;
    margin-top: 170px;
    display: inline-grid;
    height: 100%;
}

.discounts {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

.productContainer {
    width: 350px;
    min-width: 350px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 5fr 1px;
    grid-template-rows: 40px auto auto auto;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    align-self: center;
}

.productName {
    font-size: 15px;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    align-self: center;
}

.productDescription {
    font-size: 13px;
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    margin: 0px;
    color: rgb(146, 146, 146);
}

.productPreview {
    width: 70px;
    height: fit-content;
    max-height: 70px;
    grid-column: 1;
    grid-row: 1 / 3;
    align-self: center;
    margin-right: 10px;
    border-radius: 5px;
    border: 2px solid rgb(212, 209, 209);
}

.divProductCost {
    display: flex;
    grid-column: 1 / span 2;
    grid-row: 4 / 4;
}

.productCost {
    font-size: 14px;
    width: fit-content;
    /* padding: 5px;
    padding-right: 10px; */
}

.productDiscount {
    font-size: 14px;
    width: fit-content;
    padding-left: 5px;
    color: rgb(15, 173, 10);
}

.productToBasket {
    grid-row: 4 / 4;
    grid-column: 2 / span 2;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    /* padding-left: 15px;
    padding-right: 15px; */
    justify-self: end;
    align-self: center;
    font-size: 14px;
    background-color: yellow;
    border-radius: 5px;
    cursor: pointer;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.label
{
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 0px;
}