/* a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
} */

a {
  color: #0077cc;
}

/* .btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

/* .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
} */

.border-top {
  border-top: 1px solid #e5e5e5;
}

.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

/* button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
} */

footer {
  margin-top: 20px;
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  flex-basis: 30%;
}

.footer-section h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  color: #ccc;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #f8f8f8;
}

.header-content {

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  flex-wrap: wrap;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  align-self: center;
  margin: 10px;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #666;
}

.header-actions a {
  font-size: 16px;
}

.header-actions .btn:hover {
  background-color: #0056b3;
}

.logo
{
  display: flex;
}

.logo img
{
  width: 50px;
  height: fit-content;
}

.up-level {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  width: 100%;
}

.down-level {
  display: flex;
  flex-direction: row;
  justify-content: end;
  flex-wrap: nowrap;
  width: 100%;


}

#btn_search {
  background-image: url(../icons/Search.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  margin: 0px;
}

#tb_search {
  width: 500px;
  height: 40px;
  margin: 0px;
}

.header-button {
  display: flex;
  border-radius: 5px;
  border: 1px solid;
  width: 200px;
  height: 50px;
  flex-direction: row;
  justify-content: space-around;
  padding: 5px;
  margin: 10px;
}

