#content {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
}

#productName {
    font-size: 25px;
    font-weight: bold;
}

#productInfo {
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: auto 60px 60px auto;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

#commentsLabel {
    display: flex;
}

#commentsCount {
    color: rgb(192, 192, 192);
    margin-right: 50px;
    font-weight: bold;
    font-size: 20px
}

#commentsLabel p {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;
}

#comments {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
}

.comment {
    padding: 10px;
    display: grid;
    grid-template-columns: 60px auto 1fr;
    grid-row: 60px auto;
    align-self: center;
    background-color: white;
    margin: 10px;
    width: 100%;
}

.userIcon {
    width: 50px;
    height: fit-content;
}

.userLogin {
    grid-row: 1;
    grid-column: 2;
    padding-right: 40px;
    font-weight: bold;
}

.userRating {
    grid-row: 1;
    grid-column: 3;
}

.userMessage {
    grid-row: 2;
    grid-column: 1;
}


#images {
    display: flex;
    flex-wrap: wrap;
    grid-row: 1 / 1;
    justify-content: center;
}

#otherImages {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
}

#otherImages img {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 150px;
    height: 90px;
    margin: 10px;
    border-radius: 5px;
    border: 2px solid rgb(150, 150, 150)
}

#description {
    grid-row: 1 / span 4;
    padding: 10px;
}

#description p {
    height: fit-content;
    font-weight: bold;
}

#description pre {
    height: fit-content;
    font-family: Roboto;
    overflow: visible;
}

#buttons {
    grid-row: 2 / 2;
    display: flex;
    cursor: pointer;
}

#rating {
    grid-row: 3;
    margin: 10px;
}

.button {
    display: flex;
    border-radius: 5px;
    border: 1px solid;
    width: 140px;
    height: 40px;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    background-color: white;
}

.button p {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0px;
}

.button img {
    align-self: center;
    width: 25px;
    height: 25px;
}

#productPreview {
    margin: auto;
    width: 300px;
    height: fit-content;
    border-radius: 5px;
    border: 2px solid rgb(212, 209, 209);
    margin: 5px;
    background-color: white;
}

#btnShowCommentForm {
    background-color: rgb(104, 104, 104);
    color: white;
    align-self: center;
    width: 300px;
    margin: 15px;
}

#putCommentDiv {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-rows: auto 200px auto;

    width: 100%;
}

#putCommentDiv p {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
    display: flex;
    align-content: center;
}

#userRating {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
    width: min-content;
}


#userMessage {
    grid-row: 2;
    grid-column: 1 / span 2;
    
}

#btnPutComment {
    grid-row: 3 / 3;
    grid-column: 1 / span 2;
}
