html {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

* {
    font-size: 20px;
    font-family: 'Roboto';
    -webkit-appearance: none;
    -moz-appearance: none;
}

body {
    display: flex;
    flex-direction: column;
    overflow: visible;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

a {
    text-decoration: none;
}

#submitRegister {
    width: fit-content;
    padding: 10px 25px;
}

#submitLogin {
    width: fit-content;
    padding: 10px 25px;
}

.form-div {
    display: flex;
    justify-content: center;
}

.form {
    background: rgba(175, 175, 175, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    border: 1px solid rgba(175, 175, 175, 0.3);
    border-radius: 30px;
    border-color: black;
    padding: 15px 50px;
    height: 100%;
}

.form-inside-register {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto;
}

.form-inside-login {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto;
}

.listDataProfile {
    display: flex;
    align-items: center;
}

.dataProfile {
    display: inline-block;
    padding: 10px;
    background: gray;
    border-radius: 36px;
}

.errormsg {
    background-color: transparent;
    color: red;
    position: absolute;
}

#instanseMail {
    height: 37px;
    width: 37px;
    border-radius: 50px;
    align-self: center;
}

.error::before {
    width: 0;
    height: 0;
}

.div2 {
    display: grid;
    justify-items: center;
}

.div3 {
    padding: 0 0 20px 0;
}

h1 {
    font-family: 'Times New Roman';
    font-size: 72px;
}

h3 {
    font-size: 30px;
    text-align: center;
    margin: 0 0 15px 0;
}

form {
    display: flex;
    flex-direction: column;
}

#divFromHeader {
    margin-top: 170px;
    width: 70%;
}

#dataProfileList {

    align-self: left;
}

#showPassword:hover {
    background: #2c2c2c;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 20px;
    margin: 25px 0 0 0;
    border-radius: 20px;
}

button {
    padding: 10px;
    background: transparent;
    color: black;
    border: 1px solid black;
    border-radius: 15px;
    cursor: pointer;
    margin: 15px 0 0 0;
}

button:hover {
    color: black;
    background-color: rgb(150, 212, 199);
}