header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f8f8f8;
    z-index: 1;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.logo a {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
    align-self: center;
    margin: 10px;
}

.header-actions a {
    font-size: 16px;
}

.header-actions .btn:hover {
    background-color: #a0a0a0;
}

.up-level a {
    margin: 0;
    align-self: center;
    color: black;
    margin: 10px;
}

.logo {
    display: flex;
}

.logo p {
    margin: 10px;
    font-weight: bold;
    color: #2c2c2c;
}

.logo img {
    width: 50px;
    height: fit-content;
    align-self: center;
}

.up-level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
}

.down-level {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: nowrap;
    width: 100%;
}

#btn_search {
    background-image: url(../../icons/Search.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    margin: 0px;
    border-radius: 15px;
}

#tb_search {
    width: 500px;
    height: 40px;
    margin: 0px;
    padding: 15px;
}

.header-button {
    display: flex;
    border-radius: 5px;
    border: 1px solid;
    width: 140px;
    height: 40px;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
}

.header-button p {
    height: 100%;
    width: 100px;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 0px;
}

.header-button img {
    align-self: center;
    width: 25px;
    height: 25px;
}

#divFromHeader {
    margin-top: 170px;
    width: 70%;
}